.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #330755;
    box-shadow: 0 2px 4px rgb(4, 41, 83);
}

.TheList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
.TheList li {
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #fff;  
    padding: 20px 35px;
    border-radius: 5%;
}

.Logo {
    width: 100px;
    height: 100px;
}

.LoginButton {
    background-color: #f1c40f;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.SignUpButton {
    background-color: #473902;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.Register {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 15%;  
}
.no-link-style {
    text-decoration: none;
    color: inherit;
}

/* -------------------------------------------------------------- */

/* -------------------------Cupons------------------------------- */



.cupons {
    margin-top: 5%;
    margin-left: 5%;
    height: fit-content;
    width: fit-content;
    background-color: #f1c40f;
}

.cupons img {
    width: 250px;
    height: 25%;
}
.carosel {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 1100px;
    height: 100%;
}

/* -------------------------------------------------------------- */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    background-color: #f1c40f;
    padding: 10px;
}
.container-item {
    margin: 10px;
    height: fit-content;
    width: 25%;
    padding: 10px;
    background-color: #a23b3b;
    align-items: center;
}
.container-item img {
    width: 100%;
    height: 90%;
}

.container-item > p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.foot-container {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vw;
    padding: 3vw 0 3vw 0;
}

.refs{
    background-color: beige;
    padding: 33px;
}
.refs h1 , p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contacts {
    background-color: beige;
    padding: 33px;
}

.others{
    background-color: beige;
    padding: 33px;
}